/* COLORI */
.my_bc_yellow{
    background-color: rgb(202, 202, 88);
}

.my_bc_green{
    background-color: lightseagreen;
}

.my_bc_pink{
    background-color: lightpink;
}

.my_bc_blue{
    background-color: lightblue;
}


.my_bc_water-green{
    background-color: #1abc9c;
}

.my_bc_dark-gray{
    background-color: #2c3e50;
}

.my_bc_gray{
    background-color: #3a546d;
}

.my_bc_white{
    background-color: white;
}