/* COLORI */
.my_bc_water-green{
    background-color: #1abc9c;
}

.my_bc_dark-gray{
    background-color: #2c3e50;
}

.my_bc_gray{
    background-color: #3a546d;
}

.my_bc_white{
    background-color: white;
}

.my_bc-black{
    background-color: black;
}

.my_big-container{
    background-color: lightpink;
    /*! qui sotto da emilinare */
    min-height: 150px;
}

.row_divider{
    height: 3px;
    width: 50px;
    margin-top: .5rem;
}

.my_color-white{
    color: white;
}
.my_color-black{
    color: black;
}

/* HEADER */

/* MAIN */
/*? start */
#start img{
    height: 15rem;
}

/*? portfolio */
#portfolio img{
    width: 100%;
}

/*? about */

/*? contact-me */ 

/* FOOTER */